@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 0;
}

 ::-webkit-scrollbar-track {
    background: transparent;
    width: 6px;
}

 ::-webkit-scrollbar-thumb {
    width: 6px;
    background: #E3E6F3;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb::hover {
    background: #E3E6F3;
}

button:active {
    scale: 0.8;
    transition: 0.5s ease all;
}


/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s all ease;
}

button.white {
    font-size: 15px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s all ease;
}

body {
    width: 100%;
}


/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0 0 0 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navBar.active {
    right: 0px;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

#navBar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navBar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s all ease;
}

#navBar li a:hover,
#navBar li a.active {
    color: #07a59a;
}

#navBar li a.active::after,
#navBar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #07a59a;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
    gap: 20px;
}

#mobile a,
#mobile i {
    color: #1a1a1a;
    font-size: 23px;
}

#close {
    display: none;
    text-decoration: none;
}


/* Header End */


/* Home Start */

#hero {
    background: url(img/hero4.png);
    background-position: top 25% right 0;
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #07a59a;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #07a59a;
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


/* Home End */


/* feature Start */

.home #feature {
    padding: 40px 120px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 190px;
    text-align: center;
    padding: 35px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.5s all ease;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.2);
    transform: translateY(-12px);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 4px 6px 4px;
    line-height: 1;
    border-radius: 4px;
    color: #07a59a;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebcc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:last-child h6 {
    background-color: #fff2e5;
}


/* feature End */


/* featured Products Start */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.5s all ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-7px);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    color: #07a59a;
    font-weight: 700;
    font-size: 15px;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #07a59a;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.5s all ease;
}

#product1 .pro .cart:hover {
    background-color: #a2edad;
}


/* featured Products End */


/*offs Start */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(img/banner/b2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    gap: 15px;
}

#banner h4 {
    color: #fff;
    font-size: 19px;
}

#banner h2 {
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button.normal:hover {
    background: #07a59a;
    color: #fff;
}


/*offs End */


/* sm-Banner Start */

#sm-banner {
    padding: 40px 115px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(img/banner/b17.jpg) no-repeat center;
    background-size: cover;
    min-width: 48%;
    height: 50vh;
    padding: 30px;
    gap: 7px;
}

#sm-banner .banner-box:nth-child(2) {
    background: url(img/banner/b10.jpg) no-repeat center;
    background-size: cover;
}

#sm-banner h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner button.white:hover {
    background-color: #07a59a;
    border-color: #07a59a;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 115px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(img/banner/b7.jpg) no-repeat center;
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box:nth-child(2) {
    background: url(img/banner/b4.jpg) no-repeat center;
    background-size: cover;
}

#banner3 .banner-box:nth-child(3) {
    background: url(img/banner/b18.jpg) no-repeat center;
    background-size: cover;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 17px;
}


/* sm-Banner End */


/* news later start */

#newslatter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 80px;
}

#newslatter h4 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

#newslatter p {
    font-size: 16px;
    font-weight: 600;
    color: #818ea0;
}

#newslatter p span {
    color: #ffbd77;
}

#newslatter .form {
    display: flex;
    width: 40%;
}

#newslatter input {
    height: 4.125rem;
    padding: 0 1.25rem;
    font-size: 16px;
    width: 100%;
    border: 3.5px solid transparent;
    outline: none;
    transition: 0.5s all ease;
    border-radius: 4px 0 0 4px;
}

#newslatter input:focus {
    border-color: #07a59a;
}

#newslatter button {
    background-color: #07a59a;
    color: #fff;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}


/* news later end */


/* footer start */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow a {
    color: #465b52;
    padding-right: 9px;
    font-size: 22px;
}

footer a {
    transition: 0.5s all ease;
}

footer a:hover {
    color: #07a59a;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}

.copyright {
    min-width: 100%;
    margin-top: 35px;
    text-align: center;
}


/* footer End */


/* Shop Page */

#page-header {
    background-image: url(img/banner/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagintaion {
    text-align: center;
}

#pagintaion a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagintaion a i {
    font-size: 16px;
    font-weight: 600;
}


/* Singel Product Page */

#proDetails {
    display: flex;
    margin-top: 20px;
}

#proDetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#proDetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#proDetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#proDetails .single-pro-details h2 {
    font-size: 28px;
}

#proDetails .single-pro-details select {
    display: block;
    padding: 15px 20px;
    margin-bottom: 10px;
    outline: none;
}

#proDetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}

#proDetails .single-pro-details button {
    background-color: #07a59a;
    color: #fff;
}

#proDetails .single-pro-details p {
    line-height: 25px;
    font-size: 18px;
}


/* Blog Page */

#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 125px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#blog .blog-deatils {
    width: 50%;
}

#blog .blog-deatils a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.5s all;
}

#blog .blog-deatils a:hover {
    color: #07a59a;
}

#blog .blog-deatils a::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
    transition: 0.5s all;
}

#blog .blog-deatils h4 {
    font-size: 25px;
}

#blog .blog-deatils p {
    font-size: 18px;
    margin: 35px 0 35px 0;
}

#blog .blog-deatils a:hover::after {
    background-color: #07a59a;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 80px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/* About Page */

#page-header.about-header {
    background-image: url(img/about/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 50px;
}

#about-head div p {
    margin: 30px 0 30px 0;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 55px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.about-body #feature {
    padding: 40px 195px;
}


/* contact page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 14px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 32px;
    line-height: 35px;
    padding: 25px 0;
}

#contact-details .details h3 {
    font-size: 18px;
    padding-bottom: 17px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 12px 0;
}

#contact-details .details li i {
    font-size: 16px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 16px;
}

#contact-details .map {
    width: 50%;
    height: 550px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 14px 17px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form textarea {
    resize: vertical;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #000;
}


/* Card Page */

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 15px;
}

#card-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 16px;
}

#coupon input {
    padding: 18px 20px;
    outline: none;
    width: 54%;
    margin-right: 10px;
    border: 2px solid #e2e9e1;
    transition: 0.5s all;
    border-radius: 5px;
}

#coupon input:focus {
    border-color: #07a59a;
}

#coupon button {
    background-color: #07a59a;
    color: #fff;
    padding: 18px 30px;
    transition: 0.5s all;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 13px;
    font-size: 15px;
}

#subtotal button {
    background-color: #07a59a;
    color: #fff;
}

#page-header.card-header {
    background-image: url(img/banner/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Media Quary Start */

@media (max-width: 799px) {
    #navBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navBar li {
        margin-bottom: 25px;
    }
    #sm-banner {
        gap: 35px;
    }
    #sm-banner .banner-box {
        min-width: 100%;
    }
    #banner3 .banner-box {
        min-width: 100%;
        margin-bottom: 35px;
    }
    #newslatter .form {
        width: 95%;
        margin-top: 15px;
    }
    #mobile {
        display: flex;
    }
    #close {
        display: flex;
        position: absolute;
        top: 30px;
        right: 30px;
        color: #ef3636;
        font-size: 22px;
        transition: 0.5s all ease;
    }
    #navCart {
        display: none;
    }
}

@media (max-width: 499px) {
    #sm-banner,
    #banner3 {
        padding: 40px 15px !important;
    }
    #banner3 {
        padding-top: 0 !important;
    }
    #newslatter {
        padding: 80px 30px;
    }
    #newslatter .form {
        flex-direction: column;
        width: 100%;
    }
    #newslatter .form input {
        border-radius: 4px 4px 0 0;
    }
    #newslatter .form button {
        border-radius: 0 0 4px 4px;
    }
    .col {
        margin-bottom: 30px;
    }
    .pro-container {
        gap: 0 !important;
    }
    #banner {
        height: 55vh;
    }
    #hero {
        background-position: top 25% left 75%;
        padding: 0 22px;
    }
}